:root {
	--blue: rgb(0, 3, 247);
	--yellow--backgroundimage: radial-gradient(
		rgb(255, 255, 1),
		rgba(255, 255, 1, 90%)
	);
	--yellow: rgb(255, 255, 1);
	--navBar--color: #333;
	--background-color: rgb(195, 195, 195);
	--text-color: ;
	--background-color-brhnd-text: rgb(13, 13, 13);
}
* {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--navBar--color);
	width: 100%;
}
.logo--full {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 2.5rem;
}
.logo {
	width: 6rem;
	padding: 0.5rem 1rem;
}
.logo--text {
	color: white;
	font-size: 1.8rem;
}

.nav--bar ul {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0;
	margin-right: 2.5rem;
}
.nav--bar li {
	width: 8rem;
	list-style: none;
	height: 5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 1rem;
}
.nav--bar li a {
	text-decoration: none;
	color: white;
	padding: 1rem;
	display: block;
	font-size: 1.3rem;
}
.nav--bar li:hover {
	background-color: #aaa;
}
.toggle--button {
	position: absolute;
	top: 1.4rem;
	right: 1.5rem;
	display: none;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 2.2rem;
	height: 2rem;
}
.toggle--button .bar {
	height: 5px;
	width: 100%;
	background-color: white;
	border-radius: 10px;
}
.home--page {
	height: 48rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	background-image: radial-gradient(bisque, rgb(250, 185, 106));
}

.container--text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 5rem;
	z-index: 0;
}
.title {
	color: var(--navBar--color);
}
.highlight {
	position: relative;
	color: var(--blue);
	/* font-weight: bold; */
}

.highlight::after {
	display: block;
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
	opacity: 1;
	transform: scale(1.07, 0.9) skewX(-15deg);
	background-color: var(--yellow);
	border: 5px solid var(--blue);
}
.container--text .title {
	font-size: 3rem;
}
.container--text .slogan {
	font-size: 2rem;
}
.app {
	font-size: 2rem;
	padding: 2rem;
}
.btn--app {
	height: 5rem;
	margin: 2rem;
	text-decoration: none;
	background-color: black;
	color: white;
}

.devider {
	height: 1.2rem;
	background-image: linear-gradient(45deg, black 25%, transparent 25%),
		linear-gradient(-45deg, black 25%, transparent 25%),
		linear-gradient(45deg, transparent 75%, black 75%),
		linear-gradient(-45deg, transparent 75%, black 75%);
	background-size: 20px 20px;
	background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
}
@media (max-width: 950px) {
	.toggle--button {
		display: flex;
	}
	.content {
		width: 100%;
	}
	.nav--bar {
		display: none;
		width: 100%;
	}
	nav {
		flex-direction: column;
		align-items: flex-start;
	}
	.nav--bar ul {
		width: 100%;
		flex-direction: column;
	}
	.nav--bar li {
		width: 100%;
		height: 3rem;
		display: flex;
		justify-content: flex-start;
	}
	.nav--bar.active {
		display: flex;
	}
	.btn--links--app {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.home--page {
		height: fit-content;
	}
	.container--text {
		width: 100vw;
	}
	.btn--links--app {
		display: flex;
		flex-direction: column;
	}
}
